<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSuportedContent" mdbCollapse>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" *ngIf="isAuthenticated" [routerLink]="'/users'">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" *ngIf="isAuthenticated" [routerLink]="'/accounts'">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" *ngIf="isAuthenticated" [routerLink]="'/transactions'">Transaction</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" mat-raised-button color="primary"
                *ngIf="isAuthenticated"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <ul class="navbar-nav text-right">
                    <li *ngIf="isAuthenticated">
                        <button mat-button mat-stroked-button color="primary" type="button" style="margin-right: 5px;" class="menu-button" (click)="onClickSearchAccountByUserId()">My Accounts</button>
                    </li>
                    <li *ngIf="isAuthenticated">
                        <button mat-button mat-stroked-button color="accent" type="button" style="margin-right: 5px;" class="menu-button">My Transactions</button>
                    </li>
                    <li *ngIf="isAuthenticated">
                        <button mat-button mat-stroked-button color="warn" type="button" style="margin-right: 5px;"
                            (click)="onClickChangePassword()" class="menu-button">Change password</button>
                    </li>
                    <li *ngIf="isAuthenticated">
                        <button mat-button mat-stroked-button color="primary" (click)="onClickLogout()"
                            class="menu-button">Logout</button>
                    </li>
                </ul>
            </mat-menu>
        </div>
    </div>
</nav>