<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Initial Balance</th>
            <th scope="col">UserId</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let userAccount of userAccounts">
            <th scope="row">{{userAccount.id}}</th>
            <td>{{userAccount.name}}</td>
            <td>{{userAccount.initialBalance}}</td>
            <td>{{userAccount.userid}}</td>
            <td>{{userAccount.createdat}}</td>
        </tr>
    </tbody>
</table>

<!-- <button mat-raised-button color="primary" (click)="onClickSearchAccountByUserId()">Find</button> -->
<button mat-raised-button color="warn" (click)="onClickGoBack()" style="width: 91px;">back</button>