<div class="col-md-12" style="position: absolute;">
    <div class="center">
        <form #changePasswordForm="ngForm" appIdentityRevealed class="example-full-width" appearance="fill">
            <div [hidden]="changePasswordForm.submitted">
                <div class="cross-validation"
                    [class.cross-validation-error]="changePasswordForm.errors?.['identityRevealed'] && (changePasswordForm.touched || changePasswordForm.dirty)">
                </div>
            </div>
            <div class="form-group">
                <label for="code">Code: </label>
                <input class="form-control" type="code" id="code" ngModel name="code" required code minlength="6"
                    maxlength="6" #code="ngModel">
                <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert">
                    <div *ngIf="code.errors?.['required']">
                        Code is required
                    </div>
                    <div *ngIf="code.errors?.['minlength']">
                        Code need to be 6 digits
                    </div>
                    <div *ngIf="code.errors?.['maxlength']">
                        Code can't be longer than 6 digits
                    </div>
                </div>
                <div class="form-group">
                    <label for="oldPassword">Old Password: </label>
                    <input class="form-control" type="password" id="oldPassword" ngModel name="oldPassword" required
                        oldPassword minlength="5" maxlength="20" #oldPassword="ngModel">
                    <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert">
                        <div *ngIf="oldPassword.errors?.['required']">
                            Old Password is required
                        </div>
                        <div *ngIf="oldPassword.errors?.['minlength']">
                            Old Password must be at least 5 characters
                        </div>
                        <div *ngIf="oldPassword.errors?.['maxlength']">
                            Old Password is too long, maximum is 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password: </label>
                    <input class="form-control" type="password" id="newPassword" ngModel name="newPassword" required
                        newPassword minlength="5" maxlength="20" #newPassword="ngModel">
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert">
                        <div *ngIf="newPassword.errors?.['required']">
                            New Password is required
                        </div>
                        <div *ngIf="newPassword.errors?.['minlength']">
                            New Password must be at least 5 characters
                        </div>
                        <div *ngIf="newPassword.errors?.['maxlength']">
                            New Password is too long, maximum is 20 characters
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <button [disabled]="!changePasswordForm.valid" mat-raised-button color="primary" type="button"
                    (click)="onClickNewPassword(changePasswordForm)" style="margin-right: 5px;">Change Password</button>
                <button mat-raised-button color="warn" type="button" (click)="onClickGoBack()">back</button>
            </div>
        </div>
    </div>
</div>