<mat-form-field>
    <mat-label>Account Name</mat-label>
    <input matInput placeholder="name" [(ngModel)]="name">
</mat-form-field>

<button mat-raised-button color="primary" (click)="getAccounts()" style="margin-top: 10px; margin-left: 10px;">search</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Initial Balance</th>
            <th scope="col">User Id</th>
            <th scope="col">Created At</th>
            <th scope="col">Edit Account</th>
            <th scope="col">Delete Account</th>
            <button class="add-account-button" mat-raised-button color="primary" (click)="onClickCreateAccount()" style="margin-left: 10px;">Add Account</button>
            <!-- <button class="buttons-account" mat-raised-button color="accent" style="margin-left: 10px;" (click)="onClickSearchAccount()">Search
                User Accounts</button> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <th scope="row">{{account.id}}</th>
            <td>{{account.name}}</td>
            <td>{{account.initialBalance}}</td>
            <td>{{account.userid}}</td>
            <td>{{account.createdat}}</td>
            <td><button [disabled]="account.userid != userIdFromToken"  class="buttons-account" mat-raised-button color="accent" (click)="onClickEditAccount(account)">Edit</button></td>
            <td><button class="buttons-account" mat-raised-button color="warn" (click)="onClickDeleteAccount(account.id)">Delete</button></td>
        </tr>
    </tbody>

    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px;">
        <button class="buttons-account" [disabled]="pageNumber < 1" mat-raised-button color="accent" (click)="previousPage()">previous</button>
        <button class="buttons-account" mat-raised-button color="warn" (click)="nextPage()" style="margin-left: 5px;">next</button>
    </div>
