<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Initial Balance</th>
            <th scope="col">User Id</th>
            <th scope="col">Created At</th>
            <th scope="col">Edit Account</th>
            <th scope="col">Delete Account</th>
            <button mat-raised-button color="primary" (click)="onClickCreateAccount()">Add Account</button>
            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="onClickSearchAccount()">Search
                User Accounts</button>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <th scope="row">{{account.id}}</th>
            <td>{{account.name}}</td>
            <td>{{account.initialbalance}}</td>
            <td>{{account.userid}}</td>
            <td>{{account.createdat}}</td>
            <td><button mat-raised-button color="accent" (click)="onClickEditAccount(account)">Edit</button></td>
            <td><button mat-raised-button color="warn" (click)="onClickDeleteAccount(account.id)">Delete</button></td>
        </tr>
    </tbody>

    <div>
    <button mat-raised-button color="primary" (click)="onClickListAccountById()"
        style="margin-top: 10px;">search</button>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px;">
        <button [disabled]="pageNumber < 1" mat-raised-button color="accent" (click)="previousPage()">previous</button>
        <button mat-raised-button color="warn" (click)="nextPage()" style="margin-left: 5px;">next</button>

    </div>
</table>